[Unit]
Description=Save Chakra specific settings
DefaultDependencies=no
Before=shutdown.target

[Service]
ExecStart=/lib/systemd/chakra-persistent-settings
Type=oneshot

[Install]
WantedBy=shutdown.target
