[Unit]
Description=/etc/rc.local Compatibility

[Service]
ExecStart=-/etc/rc.local
ExecStop=-/etc/rc.local.shutdown
TimeoutSec=0
StandardInput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
