# These rules create /dev/{cdrom,dvd,...} symlinks 
SUBSYSTEM=="block", KERNEL=="sr0" , SYMLINK+="cdrom cdrw dvd dvdrw"
SUBSYSTEM=="block", KERNEL=="sr1" , SYMLINK+="cdrom1 cdrw1 dvd1 dvdrw1"
SUBSYSTEM=="block", KERNEL=="sr2" , SYMLINK+="cdrom2 cdrw2 dvd2 dvdrw2"
SUBSYSTEM=="block", KERNEL=="sr3" , SYMLINK+="cdrom3 cdrw3 dvd3 dvdrw3"
SUBSYSTEM=="block", KERNEL=="sr4" , SYMLINK+="cdrom4 cdrw4 dvd4 dvdrw4"
SUBSYSTEM=="block", KERNEL=="sr5" , SYMLINK+="cdrom5 cdrw5 dvd5 dvdrw5"
SUBSYSTEM=="block", KERNEL=="sr6" , SYMLINK+="cdrom6 cdrw6 dvd6 dvdrw6"
SUBSYSTEM=="block", KERNEL=="sr7" , SYMLINK+="cdrom7 cdrw7 dvd7 dvdrw7"
SUBSYSTEM=="block", KERNEL=="sr8" , SYMLINK+="cdrom8 cdrw8 dvd8 dvdrw8"
SUBSYSTEM=="block", KERNEL=="sr9" , SYMLINK+="cdrom9 cdrw9 dvd9 dvdrw9"

