[Desktop Entry]
Exec=mirror-check
Icon=system-software-update
Type=Application
Terminal=false
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
X-KDE-UniqueApplet=true
Categories=KDE;System;
Name=mirror-check
GenericName=Update Notifier